<center>
  <div class="main-container">
    <div class="logo-font slogan">browse it all. right here.</div>
    <div class="logo-font android-slogan">Search for your favorite tunes on SoundCloud, Spotify & YouTube!</div>
    <br>
    <div class="card-panel pink lighten-4">
      <form action="#">
        <div class="input-field col s6">
          <i class="material-icons md-light prefix" style="bottom: 4px;">search</i>
          <input id="icon_prefix" type="text" class="validate" style="color: #ffffff; font-size: 20px;">
          <label for="icon_prefix"></label>
        </div>
      </form>
    </div>
  </div>
</center>
